<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <context-param>
    <param-name>type_stockage</param-name>
    <param-value>context</param-value>
  </context-param>
  <display-name>ExemplesCoursJavaWeb</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.web.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>gameServlet</servlet-name>
    <servlet-class>com.web.servlets.GameServlet</servlet-class>
  </servlet>
  
 
  <servlet>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>com.web.servlets.UserManagementServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deconnectServlet</servlet-name>
    <servlet-class>com.web.servlets.DeconnectServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>bestScore</servlet-name>
    <servlet-class>com.web.servlets.BestScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>mybestScore</servlet-name>
    <servlet-class>com.web.servlets.MyBestScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reinitGamesrvlt</servlet-name>
    <servlet-class>com.web.servlets.ReinitGameServlet</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>endGameServlet</servlet-name>
    <servlet-class>com.web.servlets.EndGameServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>gameRulesServlet</servlet-name>
    <servlet-class>com.web.servlets.GameRulesServlet</servlet-class>
  </servlet>
  
  <filter>
    <filter-name>security</filter-name>
    <filter-class>com.web.filters.SecurityFilter</filter-class>
  </filter>
  <filter>
    <filter-name>exceptionFilter</filter-name>
    <filter-class>com.web.filters.ExceptionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>exceptionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>security</filter-name>
    <url-pattern>/back/*</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>gameServlet</servlet-name>
    <url-pattern>/back/GameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
    
  <servlet-mapping>
    <servlet-name>bestScore</servlet-name>
    <url-pattern>/back/bestScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>mybestScore</servlet-name>
    <url-pattern>/back/myBestScore</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/UserManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deconnectServlet</servlet-name>
    <url-pattern>/DeconnectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reinitGamesrvlt</servlet-name>
    <url-pattern>/back/ReinitGameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>endGameServlet</servlet-name>
    <url-pattern>/EndGameServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>gameRulesServlet</servlet-name>
    <url-pattern>/back/gameRulesservlet</url-pattern>
  </servlet-mapping>
  
  
  
  <welcome-file-list>
    <welcome-file>/WEB-INF/vues/pages/loginForm.jsp</welcome-file>
  </welcome-file-list>

</web-app>